<%= form_for(@notification) do |f| %>
  <% if @notification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notification.errors.count, "error") %> prohibited this notification from being saved:</h2>

      <ul>
      <% @notification.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :created_by %><br>
    <%= f.number_field :created_by %>
  </div>
  <div class="field">
    <%= f.label :responded_by %><br>
    <%= f.number_field :responded_by %>
  </div>
  <div class="field">
    <%= f.label :post_id %><br>
    <%= f.number_field :post_id %>
  </div>
  <div class="field">
    <%= f.label :notification_type %><br>
    <%= f.number_field :notification_type %>
  </div>
  <div class="field">
    <%= f.label :view_stat %><br>
    <%= f.number_field :view_stat %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
