<p id="notice"><%= notice %></p>

<h1>Listing Notifications</h1>

<table>
  <thead>
    <tr>
      <th>Created by</th>
      <th>Responded by</th>
      <th>Post</th>
      <th>Notification type</th>
      <th>Message</th>
      <th>View stat</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notifications.each do |notification| %>
      <tr>
        <td><%= notification.created_by %></td>
        <td><%= notification.responded_by %></td>
        <td><%= notification.post_id %></td>
        <td><%= notification.notification_type %></td>
        <td><%= notification.message %></td>
        <td><%= notification.view_stat %></td>
        <td><%= link_to 'Show',  post_path(Post.find(notification.post_id))%></td>
        <td><%= link_to 'Edit', edit_notification_path(notification) %></td>
        <td><%= link_to 'Destroy', notification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Notification', new_notification_path %>
