
    <% @posts.each do |post| %>
      <% $location = $base_url.to_s + '/posts/' + post.id.to_s %>
      <% if post.data_type == 1 %>
      <div class = "card bgm-bluegray" onClick = "location.href = '<%= escape_javascript($location)%>';">
        <% elsif post.data_type == 2 %>
        <div class = "card bgm-cyan" onClick = "location.href = '<%= escape_javascript($location)%>';">
          <% elsif post.data_type == 3 %>
          <div class = "card " onClick = "location.href = '<%= escape_javascript($location)%>';">
          <% else %>
          <div class = "card bgm-teal" onClick = "location.href = '<%= escape_javascript($location)%>';">
          <%end %>
        <div class="card-header">
          <div class="media">
            <div class="pull-left">
                <img class="lv-img" src="<%= $base_url %>/img/profile-pics/1.jpg" alt="">
            </div>
            <div class="media-body m-t-5">
              <% @post_profile = Profile.find(post.profile_id) %>
              <h2><%= post.title%> <small>By <%=  @post_profile.firstName + " " + @post_profile.LastName %> on <%= post.created_at.strftime("%B %d, %Y") %></small></h2>
            </div>
            <div class="card-body card-padding">
              <p><%= simple_format post.body%></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
<%= will_paginate @posts %>
