<section id="content">
  <div class="container wall">
    <div class="row">
      <div class="col-md-12">
        <div class = "block-header">
            <h2>Discussion Forums</h2>
        </div>
        <div class = "card" onClick = "location.href = '/newBlog';">
          <div class = "card-header">
            <h2> Start a discussion</h2>
          </div>
        </div>
        <% @posts.each do |post| %>
          <% $location = $base_url.to_s + '/posts/' + post.id.to_s %>
          <div class = "card" onClick = "location.href = '<%= escape_javascript($location)%>';">
            <div class="card-header">
              <div class="media">
                <div class="media-body m-t-5">
                  <% @post_profile = Profile.find(post.profile_id) %>
                  <h2><%= post.title%> <small>By <%=  @post_profile.firstName + " " + @post_profile.LastName %> on <%= post.created_at.strftime("%B %d, %Y") %></small></h2>
                </div>
                <div class="card-body card-padding">
                  <p><%= simple_format post.body%></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
