<p id="notice"><%= notice %></p>

<p>
  <strong>Community:</strong>
  <%= @post.community_id %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @post.profile_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p>
  <strong>Create date:</strong>
  <%= @post.create_date %>
</p>

<p>
  <strong>Update date:</strong>
  <%= @post.update_date %>
</p>

<p>
  <strong>Type:</strong>
  <%= @post.data_type %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @post.priority %>
</p>

<p>
  <strong>Report:</strong>
  <%= @post.report %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @post.rating %>
</p>

<p>
  <strong>Ratecount:</strong>
  <%= @post.rateCount %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<% if @post.data_type == 1 %>
<a href="/blogs">Blogs</a>
<% elsif @post.data_type == 2 %>
<a href ="/forums">Forumss</a>
<% else %>
<a href ="/announcements">Announcements</a>
<% end %>
