<% @post_profile = Profile.find(@post.profile_id) %>
<section id="content">
<div class="container wall">
<div class="row">
<div class="col-md-12">
<div class="card">
<div class="card-header">
<div class="media">
<div class="media-body m-t-5">
<h2><center><%= @post.title%> <small>Posted by <%=  @post_profile.firstName + " " + @post_profile.LastName %> on <%= @post.created_at.strftime("%B %d, %Y") %></small></center></h2>
</div>
</div>
</div>

<div class="card-body card-padding">
<p><%= simple_format @post.body %></p>

</div>
</div>
<div class = "card" >
<div class="wall-comment-list">

<!-- Comment Listing -->
<div class="wcl-list">
<%= render :partial => @post.comments %>
</div>

<!-- Comment form -->
</div>
</div>
<div class = "card">
<div class = "card-header">
</div>
<div class = "card-body card-padding" >
<div class = "form-group">
<%= form_for [@post, Comment.new] do |f| %>
<div class="fg-line">

<%= f.text_area :description, class: 'form-control auto-size'%>
<%= f.hidden_field :data_type, :value => @post.data_type %>
<%= f.hidden_field :profile_id, :value => @current_profile.id %>
<%= f.hidden_field :report, :value => 0 %>
</div>
<br>
<center><button class = "btn btn-primary btn-sm m-t-10 waves-effect">
Comment
</button></center>
<% end %><br><br>

<%= form_for [@post, Report.new] do |f| %>
  <div class="fg-line">

    <%= f.text_area :reason, class: 'form-control auto-size'%>
    <%= f.hidden_field :data_type, :value => @post.data_type %>
    <%= f.hidden_field :profile_id, :value => @current_profile.id %>
    <%= f.hidden_field :community_id, :value => @current_profile.community_id %>
  </div>
  <br>
  <center><button class = "btn btn-primary btn-sm m-t-10 waves-effect">
    Report
  </button></center>
<% end %>
</div>
</div>
</div>

<div class = "card">
<% if @post.data_type == 1 %>
<a href = "<%= $base_url %>/blogs" ><div class = "btn btn-success col-md-12">Back To Blogs</div> </a>
<% elsif @post.data_type == 2 %>
<a href = "<%= $base_url %>/forums" ><div class = "btn btn-warning col-md-12">Back To Forums</div> </a>
<% else %>
<a href = "<%= $base_url %>/announcements" ><div class = "btn btn-danger col-md-12">Back To Announcements</div> </a>
<% end %>
</div>
</div>
</div>
</section>
