<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @authenticate.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @authenticate.password %>
</p>

<%= link_to 'Edit', edit_authenticate_path(@authenticate) %> |
<%= link_to 'Back', authenticates_path %>
