<%= form_for(@poll) do |f| %>
  <% if @poll.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@poll.errors.count, "error") %> prohibited this poll from being saved:</h2>

      <ul>
      <% @poll.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :profile_id %><br>
    <%= f.number_field :profile_id %>
  </div>
  <div class="field">
    <%= f.label :post_id %><br>
    <%= f.number_field :post_id %>
  </div>
  <div class="field">
    <%= f.label :options %><br>
    <%= f.text_area :options %>
  </div>
  <div class="field">
    <%= f.label :user_response %><br>
    <%= f.text_area :user_response %>
  </div>
  <div class="field">
    <%= f.label :interim %><br>
    <%= f.number_field :interim %>
  </div>
  <div class="field">
    <%= f.label :finish_time %><br>
    <%= f.datetime_select :finish_time %>
  </div>
  <div class="field">
    <%= f.label :anonimity %><br>
    <%= f.number_field :anonimity %>
  </div>
  <div class="field">
    <%= f.label :vote_type %><br>
    <%= f.number_field :vote_type %>
  </div>
  <div class="field">
    <%= f.label :community_id %><br>
    <%= f.number_field :community_id %>
  </div>
  <div class="field">
    <%= f.label :restricted_id %><br>
    <%= f.number_field :restricted_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
