<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @rating.post_id %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @rating.profile_id %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @rating.rate %>
</p>

<p>
  <strong>Rated at:</strong>
  <%= @rating.rated_at %>
</p>

<p>
  <strong>Type:</strong>
  <%= @rating.type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @rating.Description %>
</p>

<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', ratings_path %>
