<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @user.firstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @user.LastName %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.gender %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @user.DOB %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Verified:</strong>
  <%= @user.verified %>
</p>

<p>
  <strong>Verify:</strong>
  <%= @user.verify_id %>
</p>

<p>
  <strong>Inactive:</strong>
  <%= @user.inactive %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role_id %>
</p>

<p>
  <strong>Community:</strong>
  <%= @user.community_id %>
</p>

<p>
  <strong>Showphone:</strong>
  <%= @user.showPhone %>
</p>

<p>
  <strong>Verifytime:</strong>
  <%= @user.verifytime %>
</p>

<p>
  <strong>Door no:</strong>
  <%= @user.door_no %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
