<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>Smart-Y</title>



  <!-- Vendor CSS -->
 >
  <link href="<%= $base_url %>/vendors/bower_components/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet">
  <link href="<%= $base_url %>/vendors/bower_components/nouislider/distribute/jquery.nouislider.min.css" rel="stylesheet">
  <link href="<%= $base_url %>/vendors/bower_components/summernote/dist/summernote.css" rel="stylesheet">
  <link href="<%= $base_url %>/vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
  <link href="<%= $base_url %>/vendors/farbtastic/farbtastic.css" rel="stylesheet">
  <link href="<%= $base_url %>/vendors/chosen_v1.4.2/chosen.min.css" rel="stylesheet">


  <!-- Vendor CSS -->
  <link href="<%= $base_url %>/vendors/bower_components/animate.css/animate.min.css" rel="stylesheet">
  <%= stylesheet_link_tag "animate.min.css" %>
  <link href="<%= $base_url %>/vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.css" rel="stylesheet">
  <link href="<%= $base_url %>/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">



  <link href="<%= $base_url %>/vendors/bower_components/lightgallery/light-gallery/css/lightGallery.css" rel="stylesheet">

  <!-- CSS -->
  <link href="<%= $base_url %>/css/app.min.1.css" rel="stylesheet">
  <link href="<%= $base_url %>/css/app.min.2.css" rel="stylesheet">
</head>

<body>
  <header id="header">
    <ul class="header-inner">
      <li data-trigger="#sidebar" id="menu-trigger">
        <div class="line-wrap">
          <div class="line top"></div>
          <div class="line center"></div>
          <div class="line bottom"></div>
        </div>
      </li>

      <li class="logo hidden-xs">
        <a href="index-2.html">Hoshiar Mohalla</a>
      </li>

      <li class="pull-right">
        <ul class="top-menu">
          <li id="toggle-width">
            <div class="toggle-switch">
              <input hidden="hidden" id="tw-switch" type="checkbox">
              <label class="ts-helper" for="tw-switch"></label>
            </div>
          </li>
          <li class="dropdown">
            <a class="tm-notification" data-toggle="dropdown" href="#">
              <i class="tmn-counts"><%= @count_not%></i>
            </a>
            <div class="dropdown-menu dropdown-menu-lg pull-right">
              <div class="listview" id="notifications">
                <div class="lv-header">
                  Notification

                  <ul class="actions">
                    <li class="dropdown">
                      <a data-clear="notification" href="#">
                        <i class="zmdi zmdi-check-all"></i>
                      </a>
                    </li>
                  </ul>
                </div>

                <div class="lv-body">
                  <% @notifications.each do |notification| %>
                      <% noti_option = ["/posts/", "/posts/", "/posts/", "/posts/", "/posts/", "/yellowpages/", "/reports/"] %>
                      <% @notify_post = Post.find(notification.post_id) if notification.notification_type < 6%>
                      <% @notify_post = Yellowpage.find(notification.post_id) if notification.notification_type == 6%>
                      <% @notify_post = Report.find(notification.post_id) if notification.notification_type == 7%>
                  <a class="lv-item" href="<%= $base_url %><%= noti_option[notification.notification_type - 1] %><%= @notify_post.id %>">
                    <div class="media">
                      <div class="media-body">

                        <small class="lv-small"><%= notification.message %> </small>
                      </div>
                    </div>
                  </a>
                  <%end%>
                </div>


                <a class="lv-footer" href="#">View Previous</a>
              </div>

            </div>
          </li>

          <li class="dropdown">
            <a class="tm-settings" data-toggle="dropdown" href="#"></a>
            <ul class="dropdown-menu dm-icon pull-right">
              <li class="hidden-xs">
                <%= link_to(@current_profile) do %>
                  <i class="zmdi zmdi-face"></i>
                  View Profile
                <% end %>
              </li>

              <li>
                <%= link_to(logout_path) do %>
                  <i class="zmdi zmdi-account"></i>Logout
                <% end %>
              </li>

            </ul>
          </li>
        </li>
      </ul>
    </header>
    <section id="main">
      <aside id="sidebar">
        <div class="sidebar-inner c-overflow">
          <div class="profile-menu">
            <a href="#">
              <div class="profile-pic">
                <img alt="" src="<%= $base_url %>/img/profile-pics/1.jpg">
              </div>

              <div class="profile-info">
                <b><%= @current_profile.firstName %></b>
                <%= @current_profile.LastName %>

                <i class="zmdi zmdi-arrow-drop-down"></i>
              </div>
            </a>

            <ul class="main-menu">
              <li>
                <%= link_to(@current_profile) do %>
                  <i class="zmdi zmdi-account"></i>
                  View Profile
                <% end %>
              </li>
              <li>
                <%= link_to(logout_path) do %>
                  <i class="zmdi zmdi-time-restore"></i>
                  Logout
                <% end %>
              </li>
            </ul>
          </div>

          <ul class="main-menu">
            <li>
              <a href="<%= $base_url %>/posts">
                <i class="zmdi zmdi-home"></i>
                Home</a>
            </li>
            <li>
              <a href="<%= $base_url %>/blogs">
                <i class="zmdi zmdi zmdi-format-underlined"></i>
                Blogs</a>
            </li>
            <li>
              <a href="<%= $base_url %>/forums">
                <i class="zmdi zmdi zmdi-collection-text"></i>
                Forums</a>
            </li>
            <li>
              <a href="<%= $base_url %>/announcements">
                <i class="zmdi zmdi zmdi-swap-alt"></i>
                Announcements</a>
            </li>

            <li>
              <a href="<%= $base_url %>/complains">
                <i class="zmdi zmdi zmdi-trending-up"></i>
                Complaints</a>
            </li>

            <li>
              <a href="#">
                <i class="zmdi zmdi-calendar"></i>
                Events calender</a>
            </li>

            <li>
              <a href="<%= $base_url%>/yellowpages">
                <i class="zmdi zmdi-layers"></i>
                Yellow Pages</a>
            </li>
            <li>
              <a href="<%= $base_url %>/people">
                <i class="zmdi zmdi-layers"></i>
                People</a>
            </li>

            <li>
              <a href="<%= $base_url %>/surveys">
                <i class="zmdi zmdi zmdi-trending-up"></i>
                Polls</a>
            </li>
          </ul>
        </div>
      </aside>

      <%= yield %>
    </section>

    <footer id="footer">
      Copyright &copy; 2015 Team HoshiarMohalla
      <ul class="f-menu">
        <li>
          <a href="#">Abhinav</a>
        </li>
        <li>
          <a href="#">Apoorv</a>
        </li>
        <li>
          <a href="#">Rishabh</a>
        </li>
        <li>
          <a href="#">Shivam</a>
        </li>
        <li>
          <a href="#">Siddartha</a>
        </li>
        <li>
          <a href="#">Ujjwal</a>
        </li>
      </ul>
    </footer>

    <!-- Older IE warning message -->
    <!--[if lt IE 9]> <div class="ie-warning"> <h1 class="c-white">Warning!!</h1> <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p> <div class="iew-container"> <ul class="iew-download"> <li> <a href="http://www.google.com/chrome/"> <img src="img/browsers/chrome.png" alt=""> <div>Chrome</div> </a> </li> <li> <a href="https://www.mozilla.org/en-US/firefox/new/"> <img src="img/browsers/firefox.png" alt=""> <div>Firefox</div> </a> </li> <li> <a href="http://www.opera.com"> <img src="img/browsers/opera.png" alt=""> <div>Opera</div> </a> </li> <li> <a href="https://www.apple.com/safari/"> <img src="img/browsers/safari.png" alt=""> <div>Safari</div> </a> </li> <li> <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie"> <img src="img/browsers/ie.png" alt=""> <div>IE (New)</div> </a> </li> </ul> </div> <p>Sorry for the inconvenience!</p> </div> <![endif]-->

    <!-- Javascript Libraries -->

    <!-- Placeholder for IE9 -->
    <!--[if IE 9 ]> <script src="vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script> <![endif]-->

    <script src="<%= $base_url %>/vendors/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="<%= $base_url %>/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="<%= $base_url %>/vendors/bower_components/jquery.nicescroll/jquery.nicescroll.min.js"></script>
    <script src="<%= $base_url %>/vendors/bower_components/Waves/dist/waves.min.js"></script>
    <script src="<%= $base_url %>/vendors/bootstrap-growl/bootstrap-growl.min.js"></script>
    <script src="<%= $base_url %>/js/functions.js"></script>
    <script src="<%= $base_url %>/js/demo.js"></script>
    <script src="<%= $base_url %>/vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.min.js"></script>
    <script src="<%= $base_url %>/vendors/bower_components/lightgallery/light-gallery/js/lightGallery.min.js"></script>
    <script src="<%= $base_url %>/vendors/bower_components/autosize/dist/autosize.min.js"></script>





    <!-- Javascript Libraries -->

    <script src="<%= $base_url %>/vendors/bower_components/moment/min/moment.min.js"></script>
    <script src="<%= $base_url %>/vendors/bower_components/bootstrap-select/dist/js/bootstrap-select.js"></script>
    <script src="<%= $base_url %>/vendors/bower_components/nouislider/distribute/jquery.nouislider.all.min.js"></script>
    <script src="<%= $base_url %>/vendors/bower_components/summernote/dist/summernote.min.js"></script>
    <script src="<%= $base_url %>/vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="<%= $base_url %>/vendors/bower_components/typeahead.js/dist/typeahead.bundle.min.js"></script>

    <!-- Placeholder for IE9 -->
    <!--[if IE 9 ]>
        <script src="vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
    <![endif]-->

    <script src="<%= $base_url %>/vendors/fileinput/fileinput.min.js"></script>
    <script src="<%= $base_url %>/vendors/input-mask/input-mask.min.js"></script>
    <script src="<%= $base_url %>/vendors/farbtastic/farbtastic.min.js"></script>


  </body>

</html>
