<!DOCTYPE html>
<html>
<head>
  <title>Demoapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <div class="container">
    <div class = "row">
      <div class = "span9">
        <h1>Smart Neighbourhood</h1>
      </div>
      <div class = "span6">
        <% if current_user %>
            Logged in as <%= current_user.email %>.
            <%= link_to "Log Out", logout_path %>
        <% end %>
      </div>
    </div>
  </div>

</header>

<%= yield %>

</body>
</html>
