<%= form_for(@polloption) do |f| %>
  <% if @polloption.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@polloption.errors.count, "error") %> prohibited this polloption from being saved:</h2>

      <ul>
      <% @polloption.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :poll_id %><br>
    <%= f.number_field :poll_id %>
  </div>
  <div class="field">
    <%= f.label :option %><br>
    <%= f.number_field :option %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :votecount %><br>
    <%= f.number_field :votecount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
