<p id="notice"><%= notice %></p>

<h1>Listing Polloptions</h1>

<table>
  <thead>
    <tr>
      <th>Poll</th>
      <th>Option</th>
      <th>Description</th>
      <th>Votecount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @polloptions.each do |polloption| %>
      <tr>
        <td><%= polloption.poll_id %></td>
        <td><%= polloption.option %></td>
        <td><%= polloption.description %></td>
        <td><%= polloption.votecount %></td>
        <td><%= link_to 'Show', polloption %></td>
        <td><%= link_to 'Edit', edit_polloption_path(polloption) %></td>
        <td><%= link_to 'Destroy', polloption, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Polloption', new_polloption_path %>
