<section id="content">

    <div class="container">

        <div class="block-header">
            <h2>Contacts<small>Members in your community</small></h2>
        </div>

        <div class="card">
            <div class="lv-header-alt clearfix m-b-5">
                <h2 class="lvh-label hidden-xs"><%= @profiles.count %> Members</h2>

                <div class="lvh-search">
                    <input type="text" placeholder="Start typing..." class="lvhs-input">

                    <i class="lvh-search-close">&times;</i>
                </div>

                <ul class="lv-actions actions">
                    <li>
                        <a href="#" class="lvh-search-trigger">
                            <i class="zmdi zmdi-search"></i>
                        </a>
                    </li>

                </ul>
            </div>


            <div class="card-body card-padding">

                <div class="contacts clearfix row">
                  <% @profiles.each do |profile| %>
                      <div class="col-md-2 col-sm-4 col-xs-6">
                          <div class="c-item">
                            <%= link_to(profile, class: "ci-avatar") do %>
                              <% if profile.gender == 'm' %>
                                  <img src="<%= $base_url %>/img/contacts/15.jpg" alt="">
                              <% else %>
                                  <img src="<%= $base_url %>/img/contacts/10.jpg" alt="">
                              <% end %>
                            <% end %>
                              <div class="c-info">
                                  <strong><%= profile.firstName + " " + profile.LastName %></strong>
                                  <small><%= profile.email %></small>
                              </div>
                              <div class="c-footer">
                                <% if profile.verified == 0 and @current_profile.verified >=1 %>
                                  <button class="waves-effect" onclick="window.location.href='/verify/'+<%= profile.id %> +'?method=g>et'"><i class="zmdi zmdi-person-add"></i> Verify</button>
                                <% else %>
                                <% @profile_role = Role.find(profile.role_id) %>
                                  <button class = "waves-effect"><i class="zmdi zmdi-person-add"></i><%= @profile_role.name %></button>
                                <% end %>
                              </div>
                          </div>
                      </div>
                     <% end %>



                </div>


            </div>
        </div>
    </div>

</section>
