<%= form_for(@polluser) do |f| %>
  <% if @polluser.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@polluser.errors.count, "error") %> prohibited this polluser from being saved:</h2>

      <ul>
      <% @polluser.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :poll_id %><br>
    <%= f.number_field :poll_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :optionSelected %><br>
    <%= f.number_field :optionSelected %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
