<p id="notice"><%= notice %></p>





<section id="content">

  <div class="container">

    <div class="block-header">
      <h2>Yellowpages<small>People at  your service</small></h2>
    </div>

    <div class="card">
      <div class="lv-header-alt clearfix m-b-5">
        
      </div>


      <div class="card-body card-padding">

        <div class="contacts clearfix row">
          <% @profiles = Profile.all %>
          <% @yellowpages.each do |yellow| %>
              <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="c-item">
                  <%= link_to(yellow, class: "ci-avatar") do %>

                          <img src="<%= $base_url %>/img/contacts/15.jpg" alt="">

                  <% end %>
                  <div class="c-info">
                    <strong><%= yellow.name %></strong>
                    <small><%= yellow.description %></small>
                  </div>
                  <div class="c-footer">
                    <button class = "waves-effect" ><i class="zmdi zmdi-person-add"></i><%= yellow.AveRating %></button>
                    <button class = "waves-effect" onClick="window.location.href='/yellowpages/<%= yellow.id %>';"> View</button>
                  </div>
                </div>
              </div>
          <% end %>



        </div>


      </div>
    </div>
    <div class = "card">
      <center><h2><%= link_to 'Add a Contact', newyellowpage_url %></h2></center>
    </div>
  </div>

</section>
