<p id="notice"><%= notice %></p>

<h1>Listing Yellowpages</h1>

<table>
  <thead>
    <tr>
      <th>Profile &nbsp &nbsp</th>
      <th>Name &nbsp &nbsp</th>
      <th>Phone &nbsp &nbsp</th>
      <th>Address &nbsp &nbsp</th>
      <th>Description &nbsp &nbsp</th>
      <th>Verified &nbsp &nbsp</th>
      <th>Community &nbsp &nbsp</th>
      <th>Average Rating &nbsp &nbsp</th>
      <th>Rate Counter &nbsp &nbsp</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @yellowpages.each do |yellowpage| %>
      <tr>
        <td><%= yellowpage.profile_id  %></td>
        <td><%= yellowpage.name.titlecase  %></td>
        <td><%= yellowpage.phone  %></td>
        <td><%= yellowpage.address  %></td>
        <td><%= yellowpage.description.titlecase  %></td>
        <td><%= yellowpage.verified  %></td>
        <td><%= yellowpage.community_id  %></td>
        <td><%= yellowpage.AveRating  %></td>
        <td><%= yellowpage.totalRatings  %></td>
        <td><%= link_to 'Show', yellowpage %></td>
        <td><%= link_to 'Edit', edit_yellowpage_path(yellowpage) %></td>
        <td><%= link_to 'Destroy', yellowpage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to "Rate", yellowpage %></td>



      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Newpage', newyellowpage_url %>