<p id="notice"><%= notice %></p>

<p>
  <strong>Profile:</strong>
  <%= @yellowpage.profile_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @yellowpage.name.titlecase %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @yellowpage.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @yellowpage.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @yellowpage.description.titlecase %>
</p>

<p>
  <strong>Verified:</strong>
  <%= @yellowpage.verified %>
</p>

<p>
  <strong>Community:</strong>
  <%= @yellowpage.community_id %>
</p>

<p>
  <strong>Average Rating:</strong>
  <%= @yellowpage.AveRating %>
</p>

<p>
  <strong>Total Ratings:</strong>
  <%= @yellowpage.totalRatings %>
</p>

<%= link_to 'Edit', edit_yellowpage_path(@yellowpage) %> |
<%= link_to 'Back', yellowpages_path %>
